.contact {
  background: var(--contact-gradient-color);
  display: flex;
  flex-direction: column;
}

.section-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: clamp(1.5rem, 0.8rem + 1.46vw, 2rem);
  line-height: clamp(1.75rem, 1.7rem + 0.36vw, 2rem);
  margin: 0;
  padding: clamp(3rem, 2.5875rem + 10.07vw, 5rem)
    clamp(0.5rem, -4.2rem + 17vw, 24rem) 5rem;
}

.title-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.5rem, 0.8rem + 1.46vw, 2rem);
}

.title-contact h2 {
  font-size: clamp(2rem, 0.9rem + 3.59vw, 3rem);
  font-weight: 700;
  font-family: var(--global-font);
  line-height: clamp(2rem, 2.4rem + 3.33vw, 7rem);
  letter-spacing: 1.25px;
  text-align: center;
  text-wrap: inherit;
}

.title-contact h2 span {
  background: var(--gradient-brand);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.title-contact p {
  font-size: clamp(0.875rem, 0.75rem + 0.91vw, 1.25rem);
  font-weight: 500;
  font-family: var(--alternative-font);
  color: var(--bgray-color);
  text-align: center;
  letter-spacing: 1.25px;
  line-height: clamp(1rem, 1rem + 3.33vw, 2rem);
}

.section-contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e8dbdc;
  padding: 2rem 1.5rem;
  margin: 1rem;
  height: 660px;
  width: 50%;
  border-radius: 0.5rem;
  gap: 1rem;
  box-shadow: 0 5px 10px 0px #0000001c;
  transition: transform 0.5s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
}

.form h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.form p {
  font-size: 0.875rem;
  font-weight: 400;
}

form {
  gap: 0.5rem;
}

form label {
  font-size: 0.875rem;
}

.name,
.company,
.email,
.phone,
.message {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 0.5rem;
  border: 1px solid var(--white-color);
  background-color: transparent;
  border-radius: 0.5rem;
}

.section-contact-info form {
  display: grid;
  grid-template-areas:
    "name company"
    "email email"
    "phone phone"
    "message message"
    "submit submit";
}

.name {
  grid-area: name;
  margin-right: 1rem;
}

.company {
  grid-area: company;
}

.email {
  grid-area: email;
}

.phone {
  grid-area: phone;
}

.message {
  grid-area: message;
}

.submit {
  grid-area: submit;
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit input[type="submit"] {
  width: 100%;
}

.info-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  padding: 2rem 0;
  margin: clamp(0.875rem, 0.75rem + 0.91vw, 1.25rem);
  background-color: #e9d9d6;
}

.info-contact .link-contact {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  margin-top: 0.875rem;
}

.info-contact .link-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.info-contact .link-social .link {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.link-social .link {
  display: flex;
  flex-direction: column;
}

.icon-link {
  width: 2rem;
  height: 2rem;
  fill: var(--bpurple-color);
}

.info-contact .link p,
.features p {
  font-size: clamp(0.625rem, 0.75rem + 0.91vw, 1rem);
  font-weight: 500;
}

form .submit button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.875rem 0;
  margin-top: 1rem;
  width: 100%;
  background: var(--button-gradient-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

form .submit button:hover {
  background: var(--button-invert-gradient-color);
}

.submit button svg {
  margin-left: 1rem;
}

.icon-button {
  width: 1rem;
  height: 1rem;
  fill: var(--white-color);
}

.benefits2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.benefits2 .features {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.benefits2::before {
  content: "";
  display: block;
  border-top: 1px solid black;
  margin: 1rem 0;
}

@media only screen and (max-width: 1024px) {
  .section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }

  .section-contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }

  .form {
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 465px) {
  .section-contact-info form {
    display: grid;
    grid-template-areas:
      "name"
      "company"
      "email"
      "phone"
      "message"
      "submit";
  }
}
