.faq {
  background: var(--testimonials-gradient-color);
  display: flex;
  flex-direction: column;
}

.section-faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1.5rem, 0.8rem + 1.46vw, 2rem);
  line-height: clamp(1.75rem, 1.7rem + 0.36vw, 2rem);
  margin: 0;
  padding: clamp(3rem, 2.5875rem + 10.07vw, 5rem)
    clamp(0.5rem, -4.2rem + 17vw, 24rem) 5rem;
  transform: scale(calc(0.5 + (var(--progress) * 0.5)));
  opacity: var(--progress);
  transition: transform 0.1s ease-out;
  will-change: transform;
}

.title-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.5rem, 0.8rem + 1.46vw, 2rem);
}

.title-faq h2 {
  font-size: clamp(2rem, 0.9rem + 3.59vw, 3rem);
  font-weight: 700;
  font-family: var(--global-font);
  line-height: clamp(2rem, 2.4rem + 3.33vw, 7rem);
  letter-spacing: 1.25px;
  text-align: center;
  text-wrap: inherit;
}

.title-faq h2 span {
  background: var(--gradient-brand);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.title-faq p {
  font-size: clamp(0.875rem, 0.75rem + 0.91vw, 1.25rem);
  font-weight: 500;
  font-family: var(--alternative-font);
  color: var(--bgray-color);
  text-align: center;
  letter-spacing: 1.25px;
  line-height: clamp(1rem, 1rem + 3.33vw, 2rem);
}

.cards-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(21rem, 70% + 5rem, 82rem);
}

.cards-faq .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  margin: 1rem;
  padding: 2rem 1.25rem;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  border: 1px solid #bababa;
  box-shadow: 0px 5px 10px 0px #0000001c;
}

.cards-faq .card h2 {
  font-size: 1rem;
}

.card .question {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.icon-circle-check-big {
  color: var(--bpurple-color);
  font-size: 1.5rem !important;
}

.cards-faq .card p {
  margin-left: 2.5rem;
  font-size: clamp(0.875rem, 0.75rem + 0.91vw, 1rem);
}
