header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  position: fixed;
  z-index: 99;
  background-color: var(--white-color);
  transition:
    background 0.3s ease,
    backdrop-filter 0.3s ease;
  width: 100%;
}

header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--header-gradient-color);
  background-size: 200% 100%;
  animation: border-move 3s linear infinite;
}

header.scrolled {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.section-header {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.brand {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: --var(--global-font);
}

.brand a img {
  width: 2.5rem;
  height: auto;
  border-radius: 0.75rem;
  display: flex;
  justify-self: center;
  margin-right: 1rem;
  animation: glow-logo 1.5s infinite alternate;
}

.brand-title {
  display: flex;
  text-align: left;
  font-size: clamp(1rem, 0.8rem + 0.42vw, 1.25rem);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

ul {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: var(--bgray-color);
}

ul li {
  list-style: none;
  text-align: center;
  font-family: var(--alternative-font);
  padding: 0.75rem 1.25rem;
  font-weight: 600;
}

.icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px !important;
  margin: 0;
  padding: 0;
}

.cta {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4px;
}

.cta button {
  padding: 0 1.5rem;
  margin: 0;
  background: var(--button-gradient-color);
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.5rem;
}

.cta button:hover {
  background: var(--button-invert-gradient-color);
}

@media only screen and (max-width: 425px) {
  .cta {
    display: none;
  }

  .brand {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 99;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    visibility: hidden;
    display: flex;
    flex-direction: column;
  }

  nav.nav-active {
    transform: translateX(0);
    visibility: visible;
    display: flex;
    justify-content: flex-start;
  }

  .nav-active ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-active ul li {
    list-style: none;
    text-align: left;
    font-family: var(--alternative-font);
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    line-height: 2rem;
  }

  .nav-active-bg {
    background: var(--borange-color);
  }

  .nav-active-text {
    color: var(--white-color);
  }
}

@media only screen and (min-width: 1025px) {
  .icon-menu {
    display: none;
  }
}
