.portfolio {
  background: var(--portfolio-gradient-color);
  display: flex;
  flex-direction: column;
}

.section-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: clamp(1.5rem, 0.8rem + 1.46vw, 2rem);
  line-height: clamp(1.75rem, 1.7rem + 0.36vw, 2rem);
  margin: 0;
  padding: clamp(3rem, 2.5875rem + 10.07vw, 5rem)
    clamp(0.5rem, -4.2rem + 10vw, 24rem) 5rem;
}

.title-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.5rem, 0.8rem + 1.46vw, 2rem);
  padding: 0 7vw;
}

.title-portfolio h2 {
  font-size: clamp(2rem, 0.9rem + 3.59vw, 3rem);
  font-weight: 700;
  font-family: var(--global-font);
  line-height: clamp(2rem, 2.4rem + 3.33vw, 7rem);
  letter-spacing: 1.25px;
  text-align: center;
  text-wrap: inherit;
}

.title-portfolio h2 span {
  background: var(--gradient-brand);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.title-portfolio p {
  font-size: clamp(0.875rem, 0.75rem + 0.91vw, 1.25rem);
  font-weight: 500;
  font-family: var(--alternative-font);
  color: var(--bgray-color);
  text-align: center;
  letter-spacing: 1.25px;
  line-height: clamp(1rem, 1rem + 3.33vw, 2rem);
}

.cards-portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
}

.cards-portfolio .card-image {
  margin: 1rem;
  padding: 2rem 0 0;
  line-height: 1.5rem;
  background-color: #f3f2f54d;
  border: 1px solid #d7d0e1;
  border-radius: 0.5rem;
  animation: flutuate-card 4s ease-in-out infinite;
}

.cards-portfolio .card-image:nth-child(3n + 2) {
  animation-delay: 1s;
}

.cards-portfolio .card-image:nth-child(3n + 3) {
  animation-delay: 2s;
}

.cards-portfolio .card-image:hover {
  box-shadow: 0 10px 20px 5px #c0bbc5;
}

.cards-portfolio .image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 0;
  margin: 0;
}

.image img {
  width: 100%;
  overflow: hidden;
  height: 300px !important;
}

.cards-portfolio .info-image {
  padding: 1.5rem;
}

.cards-portfolio h4 {
  font-family: var(--alternative-font);
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--bgray-color);
}

.cards-portfolio p {
  font-family: var(--alternative-font);
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--bgray-color);
}

@media only screen and (max-width: 1024px) {
  .cards-portfolio {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .image img {
    height: 200px !important;
  }
}
