.testimonials {
  background: var(--testimonials-gradient-color);
  display: flex;
  flex-direction: column;
}

.section-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: clamp(1.5rem, 0.8rem + 1.46vw, 2rem);
  line-height: clamp(1.75rem, 1.7rem + 0.36vw, 2rem);
  margin: 0;
  padding: clamp(3rem, 2.5875rem + 10.07vw, 5rem)
    clamp(0.5rem, -4.2rem + 17vw, 24rem) 5rem;
}

.title-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.5rem, 0.8rem + 1.46vw, 2rem);
}

.title-testimonials h2 {
  font-size: clamp(2rem, 0.9rem + 3.59vw, 3rem);
  font-weight: 700;
  font-family: var(--global-font);
  line-height: clamp(2rem, 2.4rem + 3.33vw, 7rem);
  letter-spacing: 1.25px;
  text-align: center;
  text-wrap: inherit;
}

.title-testimonials h2 span {
  background: var(--gradient-brand);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.title-testimonials p {
  font-size: clamp(0.875rem, 0.75rem + 0.91vw, 1.25rem);
  font-weight: 500;
  font-family: var(--alternative-font);
  color: var(--bgray-color);
  text-align: center;
  letter-spacing: 1.25px;
  line-height: clamp(1rem, 1rem + 3.33vw, 2rem);
}

.cards-testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
}

.cards-testimonials .card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.25rem;
  margin: 1rem;
  padding: 2rem 1.25rem;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  border: 1px solid #bababa;
}

.stars::after {
  content: "\2605 \2605 \2605 \2605 \2605";
  font-size: 1.5rem;
  color: var(--star-color);
}

.cards-testimonials .card p {
  font-style: italic;
}

.customer-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.customer {
  line-height: 1.5;
}
.customer h4 {
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--alternative-font);
}

.customer p {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: var(--alternative-font);
}

.customer-info img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

@media only screen and (max-width: 1024px) {
  .cards-testimonials {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
